.hero {
    width: 100%;
    height: fit-content;
    padding-bottom: 60px;
    color: white;
    margin: auto;
    position: absolute;
    top: 27%;
}

.hero h1 {
    font-size: 80px;
    line-height: 90px;
    width: 800px;
    margin: auto auto 30px;
    font-weight: 500;
    font-family: var(--title-ff);
    color: white;
}

.hero p {
    font-size: 20px;
    font-weight: 300;
    width: 600px;
    margin: auto;
}

.hero .hero-button {
    width: 300px;
    height: 80px;
    margin: auto;
    margin-top: 60px;
    color: white;
    display: flex;
    background: black;
    justify-content: space-between;
}

.hero .hero-button p {
    height: 80px;
    width: 220px;
    line-height: 80px;
    margin: 0;
}

.hero .hero-button .icon-wrapper {
    background: white;
    width: 80px;
    height: 80px;
    line-height: 80px;
}

.hero .hero-button .phone-icon {
    color: var(--red);
    font-size: 20px;
}

.hero .hero-button:hover {
    opacity: 0.8;
}

.hero .hero-button:hover {
    animation: fadeToRed 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    background: var(--red);
}

.hero .hero-button:hover p {
     animation: leftToRight 1s;
     animation-timing-function: ease-in-out;
     animation-iteration-count: 1;
 }

.hero .hero-button:hover .phone-icon {
    animation: fadeToBlack 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    color: black;
}

.hero:hover a {
    text-decoration: none !important;
}

@media only screen and (max-width: 1000px) {

    .hero h1 {
        font-size: 60px;
        width: 600px;
        line-height: 70px;
    }

    .hero p {
        width: 450px;
    }

    .hero .hero-button {
        width: 300px;
        height: 80px;
        margin: auto;
        margin-top: 60px;
        color: white;
        display: flex;
        background: var(--red);
        justify-content: space-between;
    }
}


@media only screen and (max-width: 600px) {

    .hero {
        top: 20%;
    }

    .hero h1 {
        font-size: 35px;
        width: 380px;
        line-height: 45px;
    }

    .hero p {
        width: 280px;
    }

    .hero .hero-button {
        width: 200px;
        height: 50px;
        margin: auto;
        margin-top: 40px;
        color: white;
        display: flex;
        background: var(--red);
        justify-content: space-between;
    }

    .hero .hero-button p {
        height: 50px;
        width: 150px;
        line-height: 50px;
        margin: 0;
    }

    .hero .hero-button .icon-wrapper {
        background: white;
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .hero .hero-button .phone-icon {
        color: var(--red);
        font-size: 20px;
    }
}


@keyframes leftToRight {
    0% {
        transform: translateX(2%);
    }
    5% {
        transform: translateX(4%);
    }
    10% {
        transform: translateX(6%);
    }
    15% {
        transform: translateX(8%);
    }
    20% {
        transform: translateX(10%);
    }
    50% {
        transform: translateX(0%);
    }
    75% {
        transform: translateX(5%);
    }
    100% {
        transform: translateX(0%);
    }
}

@keyframes fadeToRed {
    0% {
        background: black;
    }
    50% {
        background: var(--red);
    }
    100% {
        background: var(--red);
    }
}

@keyframes fadeToBlack {
    0% {
        color: var(--red);
    }
    50% {
        color: black;
    }
    100% {
        color: black;
    }
}

