.hero {
    padding: 0 !important;
}

.hero-content {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 1;
}

.hero-text {
    backdrop-filter: blur(7px);
    width: 682px;
    border-radius: 0 150px;
    border: 5px solid white;
    padding: 40px;
    position: absolute;
    top: 27%;
}

.hero-content h1 {
    font-size: 80px;
    line-height: 90px;
    width: 600px;
    margin: auto auto 30px;
    font-weight: 500;
    font-family: var(--title-ff);
    color: white;
}

.hero-content h1 .exclamation {
    font-size: 100px;
    display: inline-block;
    transform: rotate(20deg);
}

.hero-content p {
    font-size: 25px;
    font-weight: 500;
    width: 600px;
    margin: auto;
    text-align: center;
    color: white;
}

.hero-content .hero-button {
    width: 300px;
    height: 80px;
    margin: auto;
    margin-top: 60px;
    color: white;
    display: flex;
    background: black;
    justify-content: space-between;
}

.hero-content .hero-button p {
    height: 80px;
    width: 220px;
    line-height: 80px;
    margin: 0;
}

.hero-content .hero-button .icon-wrapper {
    background: white;
    width: 80px;
    height: 80px;
    line-height: 80px;
}

.hero-content .hero-button .phone-icon {
    color: var(--red);
    font-size: 20px;
}

.hero-content .hero-button:hover {
    animation: fadeToRed 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    background: var(--red);
}

.hero-content .hero-button:hover p {
     animation: leftToRight 1s;
     animation-timing-function: ease-in-out;
     animation-iteration-count: 1;
 }

.hero-content .hero-button:hover .phone-icon {
    animation: fadeToBlack 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    color: black;
}

.hero-content:hover a {
    text-decoration: none !important;
}

@media only screen and (max-width: 1000px) {

    .hero-content {
        top: unset;
        bottom: 0;
        align-items: end;
    }

    .hero-text {
        width: 100%;
        height: 70vh;
        border-radius: unset;
        border-left: unset;
        border-right: unset;
        border-bottom: unset;
        display: flex;
        flex-direction: column;
        justify-content: space-around !important;
        top: unset;
        padding-bottom: 150px;
        margin-bottom: -20px;
    }

    .hero-content h1 {
        font-size: 60px;
        width: 600px;
        line-height: 70px;
        margin-top: 50px;
    }

    .hero-content h1 .exclamation {
        font-size: 80px;
    }

    .hero-content p {
        width: 450px;
    }

    .hero-content .hero-button {
        width: 300px;
        height: 80px;
        margin: auto;
        margin-top: 60px;
        color: white;
        display: flex;
        background: var(--red);
        justify-content: space-between;
    }
}


@media only screen and (max-width: 600px) {

    .hero-content {
        overflow-x: hidden;
    }

    .hero-text {
        margin-bottom: unset;
        height: fit-content;
        padding-bottom: 100px;
    }

    .hero-content h1 {
        font-size: 35px;
        width: 100%;
        max-width: 400px;
        line-height: 45px;
    }

    .hero-content h1 .exclamation {
        font-size: 50px;
    }

    .hero-content p {
        width: 100%;
        font-size: 20px;
    }

    .hero-content .hero-button {
        width: 200px;
        height: 50px;
        margin: auto;
        margin-top: 40px;
        color: white;
        display: flex;
        background: var(--red);
        justify-content: space-between;
    }

    .hero-content .hero-button p {
        height: 50px;
        width: 150px;
        line-height: 50px;
        margin: 0;
        font-size: 20px;
    }

    .hero-content .hero-button .icon-wrapper {
        background: white;
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .hero-content .hero-button .phone-icon {
        color: var(--red);
        font-size: 20px;
    }
}


@keyframes leftToRight {
    0% {
        transform: translateX(2%);
    }
    5% {
        transform: translateX(4%);
    }
    10% {
        transform: translateX(6%);
    }
    15% {
        transform: translateX(8%);
    }
    20% {
        transform: translateX(10%);
    }
    50% {
        transform: translateX(0%);
    }
    75% {
        transform: translateX(5%);
    }
    100% {
        transform: translateX(0%);
    }
}

@keyframes fadeToRed {
    0% {
        background: black;
    }
    50% {
        background: var(--red);
    }
    100% {
        background: var(--red);
    }
}

@keyframes fadeToBlack {
    0% {
        color: var(--red);
    }
    50% {
        color: black;
    }
    100% {
        color: black;
    }
}

