.services {
    color: black;
    margin-top: 40px;
}

.services h2 {
    color: black;
    font-size: 40px;
}

.services-wrapper {
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: center;
    gap: 40px;
    width: 1440px;
    padding-bottom: 100px;
}

.services .services-card {
    height: fit-content;
    min-height: 600px;
    width: 30%;
    background: white;
    color: black;
}

.services-card img {
    width: 100%;
    height: 220px;
    object-fit: cover;
}

.services-card .services-content {
    padding: 20px;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    gap: 10px;
}

.services-content .summary {
    font-size: 14px;
    font-style: italic;
    text-align: center;
    max-width: 300px;
}

.services-content p:nth-of-type(2) {
    margin-top: 20px;
    font-size: 16px;
    max-width: 300px;
    text-align: left;
    white-space: break-spaces;
}

.services-content .quoted-content {
    margin-top: 25px;
}

.services-content .quoted-content p {
    width: 100%;
}


@media only screen and (min-width: 1000px) and (max-width: 1440px) {

    .services-wrapper {
        gap: 20px;
        width: 100%;
    }

    .services-card .services-content a {
        margin-top: auto;
    }

    .services-card img {
        height: 180px;
    }
}

@media only screen and (max-width: 1000px) {

    .services-wrapper {
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-left: 20px;
        padding-right: 20px;
    }

    .services .services-card {
        width: 100%;
        max-width: 500px;
    }

    .services-content {
        height: 300px;
    }

    .services-content .quote-content {
        margin-top: 20px;
    }

    .services-content p {
        margin-top: 20px;
    }



}


